<nav class="navbar navbar-exp and-md bg-white navbar-white">
    <a class="navbar-brand" href="/">
      <img src="/images/ABI.jpg" width="158" height="54" alt="">
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    </div>
</nav>