<!DOCTYPE html>
<html lang="en">

  <head>
    <% include templates/styler.ejs %>
  </head>

<body>
    <% include templates/header.ejs %>
        <div class="container">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                      <% columns.forEach(name => { %>
                        <th><%= name %></th>
                      <% }); %>
                    </tr>
                </thead>
                <tbody>
                  <% data.forEach(row => { %>
                    <tr>
                      <% row.forEach(value => { %>
                        <td><%= value %></td>
                      <% }); %>
                    </tr>
                  <% }); %>
                </tbody>
            </table>
            <div class="row">
                <div class="center-block">
                    <div class="col-lg">
                        <div class="row" style="padding: 100px 0px 0px;">
                            <div class="col-5">
                                <a href="/" class="button">Done</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>