<!DOCTYPE html>
<head>
<% include templates/styler.ejs %>
</head>
<body>
  <% include templates/header.ejs %>
  <div class="container index">
    <div class="row">
      <div class="col-lg">
            <a href="/DAFPickProject" class="button">Project Status</a>
      </div>
      <div class="col-lg">         
        <a href="/DTPage" class="button">Detail Tracking</a>
      </div>
    </div>
    </div>  
  </div>
</body>
</html>
